<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css"/>
    <title>login</title>
   
</head>
<body>
    <h1>Login Now</h1>
    <form method="post" action="/login">
        
        <input type="text" name='email' placeHolder="email"><br><br>
        <input type="password" name='password' placeHolder="password"><br><br>

        <p> <%= locals.message %></p>

        <button type="submit" > Log in</button>
      </form> 

</body>
</html>