<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css"/>
    <title>login</title>
   
</head>
<body>
    <h1>hi <%= name %></h1>
    <form action="/logout" method="get">

        <button type="submit">Logout</button>

    </form>

</body>
</html>