<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css"/>
    <title>login</title>
   
</head>
<body>
    <h1>Register</h1>
    <form method="post">
  
        <input type="text" name="name" placeHolder="name"><br><br>
        
        <input type="text" name='email' placeHolder="email"><br><br>
        <input type="password" name='password' placeHolder="password"><br><br>
        <button type="submit" >Sign up</button>
      </form> 

</body>
</html>